.caroussel-container {
    display: flex;
    flex-direction: row;
    margin: 0px;
    width: 100%;
    max-width: 100%;

    .imgs-caroussel {
        object-fit:cover;
        height: 415px;
        width: 100%;
        border-radius: 10px;

        @media(max-width: 375px){
            width: 335px;
            height: 255px;
        }
    }
}




.not-active {
    display: none;
}

.arrows {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    height: 415px;

    @media(max-width: 375px){
        height: 255px;
    }

    .arrow-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 10%;
        height: 100%;

        @media(max-width: 375px){
            height: 255px;
        }
    
    }
}


.arrow {
    background-image: url('../sets/vector.png');
    background-size: cover;
    background-position: 50%;

    border: none;
    width: 46px;
    height: 79px;
    position: absolute;
    @media(max-width: 375px){
        top: 35%;
        width: 24px;
        height: 24px;
    }
    color: white;

}

.arrow:hover {
    cursor: pointer;
}
.left {
    left: 2%;
    @media(max-width: 375px){
        top: 45%;
        left: 2%;
    }
}
.right {
    transform: rotate(180deg);
    right: 2%;
    @media(max-width: 375px){
        top: 45%;
        right: 2%;
    }
}
/*.images-caroussel {
    display: flex;
    flex-direction: column;
    margin: 0px;
    max-width: 100%;

    .slide {
        max-width: 100%;
        width: 100%;
        height: 415px;
        border-radius: 25px;
        object-fit: cover;
    }

    @media(max-width: 375px){
        margin: 0px;
        height: 255px;
    }

}



.slide-hidden {
    display: none;
}


.indicators {
    display: flex;
    position: relative;
    justify-content: center;
    bottom: 1rem;
}

.indicator {
    background-color: white;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 100%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px #555;
    margin: 0 0.2rem;
    cursor: pointer;
}

.indicator-inactive {
    background-color: grey;
}*/