* {
    margin: 0;
}

.main {
    width: 100%;
}

.logements {
    display: flex;
    flex-direction: column;
    margin: 0px 90px;
    max-width: 100%;
    overflow: auto;

    @media(max-width: 375px){
        margin: 20px 20px 0px 20px;
    }

    .logements-main{
       display: flex;
        flex-direction: column;
    }

    p{
        font-size: 14px;
        font-weight: 300px;
    }

}

.logements-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    margin: 30px 0px 18px 0px;

    @media(max-width: 375px){
        flex-direction: column;
        margin: 10px 0px 16px 0px;
    }
}

.logements-presentation-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    width: auto;
    color: #FF6060;

    @media(max-width: 375px){
        margin-bottom: 10px;
    }
}

.logements-presentation-place {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    h1 {
        font-weight: 400;
        font-size: 36px;
        @media(max-width: 375px){
            font-size: 18px;
            padding-bottom: 10px;
        }
    }

}

.logements-presentation-hebergeur {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .img-hebergeur {
        width: 64px;
        height: 64px;
        border-radius: 50%;

        @media(max-width: 375px){
            width: 32px;
            height: 32px;
        }
    }
    #name { 
        text-align: end;
        width: 80px;
        margin-right: 8px;
        color: #FF6060;
    }
}

.logements-presentation-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media(max-width: 375px){
        flex-direction: row-reverse;
        margin-top: 8px;
    }
}

.logements-presentation-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    overflow: hidden;

    @media(max-width:375px){
        flex-direction: column;
        gap: 25px;
    }
}
.collapse_content_1 {
    margin-right: 10px;
    overflow: hidden;
    width: 580px;
}

.etoiles-list {
    display: flex;
    color: #FF6060;
    size: 24px;
    padding-left: 10px;

    @media(max-width:375px){
        .etoiles-elements {
        width: 18px;
        height: 18px;
        }
    }

    .motclés-elements{
        font-size: 24px;
    }
}
.logements-note{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    @media(max-width: 375px){
        padding-top: 0px;
        align-items: center;
    }
}

.presentation-content {
    padding-bottom: 20px;
    li {
    height: 100%;
    }
}

.logements-motclés .motclés-list {
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        width: auto;

        .motclés-elements {
            font-size: 14px;
            font-weight: 200;
            padding: 5px 25px;
            margin-right: 8px;
            color: white;
            background-color: #FF6060;
            border-radius: 10px;
            margin-bottom: 5px;
            
            @media(max-width:375px){
                font-size: 10px;
            }
        }
    
}