.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F6F6F6;
    width: auto;
    margin: 0px 90px 50px 90px;
    padding: 20px 30px 40px 30px;
    border-radius: 25px;

    .card-element {
        overflow: hidden;
        border-radius: 10px;
        width: 340px;
        height: 340px;
        margin: 40px 30px 0px 30px;
        position: relative;

        &:hover {
            cursor: pointer;
        }
    }

    .card-title{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 80%;
        padding-left: 16px;
        padding-bottom: 5px;
        color: white;
        font-size: 18px;
        font-weight: 300;
    }

    .card-img {
        border-radius: 25px;
        width: 340px;
        height: 340px;
        object-fit: cover;
        border-radius: 10px;

        @media(max-width: 375px){
            height: 255px;
        }
    }

}


@media(max-width: 375px){
    .card{
        .card-element{
            height: 255px;
        }
    }
}

@media (max-width: 375px){
    .card{
        background-color: white;
        margin: 0px 30px 50px 30px;
        padding: 0;

        .card-element{
            margin: 25px 0px 0px 0px;
            width: 100%;
        }
        .card-img{
            width: 100%;
        }

    }
}

