.collapse{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #FF6060;
    margin-bottom: 0px;
    width: 1023px;
    height: 47px;
    border-radius: 10px;
    transition: max-height 0.8s, margin-bottom 0.3s;   
    
    .logements-presentation-3 & {
        width: 48%;
        height: 52px;
        
        @media(max-width: 480px){
            width: auto;
            height: 30px;
        }
    }

    @media(max-width: 480px){
        width: 100%;
        height: 30px;
    }
}

.collapse-open {
    margin-bottom: 62px;
    max-height: 500px;

    @media(max-width: 480px){
        margin-bottom: 110px;
    }

    .logements-presentation-3 & {
        margin-bottom: 180px;

        @media(max-width:375px){
            margin-bottom: 136px;
        }
    }

}

.collapse_title {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin: 0px;
    font-weight: 400;
    color: white;
    position: absolute;
    height: 100%;

    .logements-presentation-3 & {    
        font-size: 18px;
        font-weight: 200;
        width: auto;

        @media(max-width: 480px){
            font-size: 13px;
        }

    }

    @media(max-width: 480px){
        width: auto;
        font-size: 13px;
    }

}

.collapse_arrow{
    background-image: url('../sets/arrow_back.png');
    background-position: 50%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 12px;
    right: 15px;
    transition: transform 400ms;
    cursor: pointer;

    @media(max-width: 480px){
        top: 0px;
        background-size: 80%;
    }

}

.collapse_arrow-down{
    transform: rotate(180deg);

}


.collapse_children {
    position: absolute;
    top: 0;
    width: auto;
    padding: 60px 15px 10px 0px;
    font-weight: 300;
    color: #FF6060;
    background-color: #f6f6f6;
    border-radius: 5px;
    z-index: -1;

    .logements-presentation-3 & {
        position: absolute;
        width: 100%;
        height: 160px;
        top: 0;
        padding: 72px 0px 0px 0px;
        border-radius: 10px;

        @media(max-width:375px){
            padding: 45px 0px 0px 0px;
            height: 120px;
        }
    }

    ul {
        padding-left: 20px;
    }
    p {
        padding-left: 20px;
        height: 100%;
    }
    @media(max-width: 480px){
        padding-top: 40px;
        font-size: 12px;
        height: 90px;
        overflow: hidden;
    }

}

#description-content{
    height: 100%;
    padding-right: 24px;
}
#presentation-list {
    margin-bottom: 5px;
}

.etoiles-elements {
    color: gray;
   .active {
    }
}